/* 전체 적용 */
* {
  margin: 0px;
  padding: 0px;
}

/* 레이아웃 */
nav {
  background-color:#F5EFE6;
  padding: 5px; /* 내용물이 안쪽으로 들어가는 태그 */
  display: flex;
  justify-content:space-between; /* 내용물을 균등하게 뿌리는 태그 */
  color: white;
  height: 40px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

 nav > ul {display: flex;
            list-style: none; 
            margin: 2000px; 
}
header {
  background-color: #E8DFCA;
  
}

header > section {
  
  display: flex;
}

.header_left {
  /*.header.left라고 돼 있어서 적용이 안됏네요 ㅋㅋ*/
  width: 30%;
}
.header_right {
    width: 70%;
}

main {
  background-color: #AEBDCA;
  display: flex;

}
main>section {
  width: 25%;
  margin: 20px;
  text-align: center;
}

img {
  border-radius: 25%;
}

footer {
  background-color: #7895B2;
  justify-content: space-between;
  color: white;
  display: flex;

}
footer > h2 {
  margin: 25px
 
}

footer > li {
  list-style: none;
}

